/*Global design start*/

:root {
    --background-color: #f8f8f8;
    --text-color-sidebar: #ffffff;
    --primary-color: #1a535c;
    --secondary-color: #e29578;
    --sidebar-size: 30rem;
    --heading-color: #eeeeee;
    --yellow-color: #ebd270;
    --orange-color: #e66429;
    --blue-color: #2a9df4;
    --red-color: #e02401;
    --light-grey: #efefef;
}

.not-found {
    background-color: var(--primary-color);
    overflow: hidden;
    border-radius: 8px;
    border-collapse: collapse;
    margin: auto;
    max-width: 900px;
    padding: 40px;
    width: 100vw;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    animation: float 5s infinite;
    margin-top: -16px;
}


/*Global kurdish font*/

@font-face {
    font-family: "NRT-Reg";
    src: url("NRT-Reg.eot");
    /* IE9 Compat Modes */
    src: url("NRT-Reg.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("NRT-Reg.ttf") format("truetype"), /* Safari, Android, iOS */
    url("NRT-Reg.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#textarea {
    color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid black;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-indent: 18px;
    resize: none;
    transition: all 0.7s;
}

#textarea:focus {
    background-color: rgb(222, 227, 233);
}

#error {
    border-radius: 3px;
    background-color: rgb(226, 187, 187);
    color: rgb(216, 53, 53);
    padding: 8px 12px;
    margin: -12px;
    font-size: 14px;
    position: relative;
    left: 23px;
}

.font_NRT-Reg {
    font-family: 'NRT-Reg';
    letter-spacing: 0.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: var(--primary-color);
    color: white;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    position: relative;
}

.main {
    max-width: 100%;
    
}

.btn {
    border: 2px solid #1a535c;
    border-radius: 6px;
}

.btn:link,
.btn:visited {
    background-color: var(--primary-color);
    font-size: 1.8rem;
    color: var(--text-color-sidebar);
    padding: 1rem 1.8rem;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-0.4rem);
}

.btn:active {
    transform: translateY(-0.2rem);
}

a {
    text-decoration: none;
    display: inline-block;
}


/*Global design end*/


/* Sidebar design start */

.sidebar {
    background-color: var(--primary-color);
    position: fixed;
    width: var(--sidebar-size);
    height: 100vh;
    top: 0;
    left: 85vw;
    overflow-y: auto;
}

.sidebar-logo {
    height: 20rem;
    position: relative;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .sidebar-logo img {
    height: 300px;
    width: 400px;
}

.sidebar-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.sidebar-user-info {
    display: flex;
    align-items: center;
    color: var(--text-color-sidebar);
}

.sidebar-user-name {
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.profile-image {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10px;
}

.sidebar-menu {
    padding: 10px 0;
    list-style-type: none;
}

.sidebar-menu>li>a {
    width: 100%;
    padding: 1.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
    color: var(--text-color-sidebar);
    text-transform: capitalize;
    transition: color 0.2s ease-in-out;
}

.sidebar-menu>li>a:hover {
    color: var(--secondary-color);
}

.sidebar-menu>li>a>i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.sidebar-menu-dropdown {
    position: relative;
}

.sidebar-menu-dropdown .dropdown-icon {
    position: absolute;
    right: 1.5rem;
}

.dropdown-icon {
    --size: 15px;
    --color: #fff;
    height: var(--size);
    width: var(--size);
    position: relative;
    cursor: pointer;
}

.dropdown-icon::after,
.dropdown-icon::before {
    --height: 2px;
    content: "";
    width: 50%;
    height: var(--height);
    border-radius: 2.5px;
    position: absolute;
    top: calc(50% - var(--height) / 2);
    background-color: var(--color);
    transition: transform 0.3s ease;
}

.dropdown-icon::before {
    left: calc(50% - var(--height) / 3);
    transform-origin: center left;
    transform: rotate(-45deg);
}

.dropdown-icon::after {
    right: calc(50% - var(--height) / 3);
    transform-origin: right;
    transform: rotate(45deg);
}

.dropdown-icon.active::before {
    transform: rotate(45deg);
}

.dropdown-icon.active::after {
    transform: rotate(-45deg);
}

.sidebar-menu>li>a:hover>.dropdown-icon {
    --color: var(--secondary-color);
}

.sidebar-menu-dropdown-content {
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
}

.sidebar-menu-dropdown-content>li>a {
    padding-left: 5rem;
}


/* Sidebar design end */


/* Dashboard Design start */

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    background-color: var(--heading-color);
    width: 100vw;
    padding: 2rem;
    border-radius: 0.4rem;
    position: relative;
    right: 29rem;
    
}

.heading h1 {
    color: var(--text-color);
    font-size: 36px;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    bottom: -1.7rem;
    left: 72vw;
    background-color: #444;
    width: 50rem;
    height: 0.3rem;
}

.boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.boxes .box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin: 1rem 4rem;
    background-color: var(--yellow-color);
    width: 18rem;
    height: 18rem;
    border-radius: 0.2rem;
}

.boxes .box-content i {
    font-size: 8.5rem;
    padding: 1rem;
}

.boxes .box-content span {
    font-size: 2.5rem;
}

.boxes .orange-color {
    background-color: var(--orange-color);
}

.boxes .blue-color {
    background-color: var(--blue-color);
}

.view-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    background-color: var(--blue-color);
    width: 52vw;
    text-transform: uppercase;
    border-radius: 0.5rem;
    height: 300px;
}

.view-data .daily {
    margin: 0.3rem 0.3rem;
    margin-right: -164px;
}

.view-data .daily h1 {
    color: var(--text-color-sidebar);
    padding: 0.8rem;
    font-size: 24px;
}

.view-data .daily h2 {
    color: var(--text-color);
    padding: 0.8rem;
}

.view-data .daily h3 {
    padding: 0.5rem;
    color: var(--text-color-sidebar);
    font-size: 2.6rem;
}

.view-data .line {
    position: relative;
}

.view-data .line::after {
    content: "";
    position: absolute;
    top: 1.3rem;
    right: 48rem;
    background-color: #444;
    height: 27rem;
    width: 0.3rem;
}


/* Dashboard Design end */


/*Customers design start */

.customer-section {
    max-width: 100%;
}

.upper-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem -10.5rem;
    padding-bottom: 2rem;
}

.upper-section .search {
    margin-left: 8rem;
}

.upper-section .search label {
    font-size: 1.8rem;
}

.upper-section .search input {
    font-size: 1.8rem;
    width: 20rem;
    height: 4rem;
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.5s ease;
}

.upper-section .search input:hover {
    border: 2px solid var(--primary-color);
}

.upper-section a {
    margin-right: 8rem;
}

.table-fill {
    background-color: var(--primary-color);
    overflow: hidden;
    border-radius: 8px;
    border-collapse: collapse;
    margin: auto;
    max-width: 900px;
    padding: 1px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    margin-top: -16px;
}

.table-employee {
    max-width: 80%;
}

th {
    color: var(--text-color-sidebar);
    background: var(--dark-green);
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 2rem;
    font-weight: 700;
    padding: 1.1rem;
    text-align: left;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #c1c3d1;
    border-bottom: 1px solid #c1c3d1;
    color: #666b85;
    background-color: var(--primary-color);
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: var(--primary-color);
}

tr:nth-child(odd):hover td {
    background: var(--dark-green);
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #c1c3d1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: center;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: center;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

td a {
    background-color: var(--text-color-sidebar);
    color: #000;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s;
}

td a:hover {
    transform: scale(0.9);
}

td a:active {
    transform: scale(1);
}


/* End of table design */


/* Form Design start */

.adding {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    /* background-color: red; */
}

.adding .input-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}

.adding .input-form label {
    font-size: 1.8rem;
    margin: 0 1rem;
}

.adding form {
    padding: 4rem 2rem;
    background-color: var(--light-grey);
}

.adding .input-form input {
    font-size: 1.8rem;
    width: 30rem;
    height: 4rem;
    border-radius: 0.5rem;
    margin: 0 1rem;
}

.adding .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}

.adding .buttons .form-btn {
    background-color: var(--primary-color);
    color: var(--text-color-sidebar);
    padding: 1.5rem 4.5rem;
    border: none;
    outline: none;
    border-radius: 0.8rem;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.adding .buttons .form-btn:hover {
    transform: translateY(-0.4rem);
}

.adding .buttons .form-btn:active {
    transform: translateY(-0.2rem);
}

.adding .buttons .red-color {
    background-color: var(--red-color);
}

.customer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.customer-container .left {
    margin: 2rem 2rem;
}

.view-cust,
.list-of-invoices {
    background-color: var(--light-grey);
    margin: 1rem 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
}

.view-cust h1,
.list-of-invoices h1 {
    font-size: 2.8rem;
    padding: 1rem 0;
}

.view-cust h3,
.list-of-invoices h2 {
    font-size: 2rem;
    padding: 0.5rem 0;
}

.list-of-invoices .invoice-info {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    margin: 1.8rem 0;
    border-radius: 0.8rem;
    padding: 0.8rem;
    color: var(--text-color-sidebar);
}


/* Form Design end */


/* Mohammad, My turn */


/* page transition animation */

.container {
    animation: transitionIn 800ms;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}